{
  "wireless": {
    "ssid": "SSID",
    "password": "PASSWORD"
  },
  "crossbar": {
    "host": "HOST"
  },
  "scenes": [
    {
      "_id": "_id",
      "type": "TYPE",
      "pattern": "PATTERN",
      "pins": [
        0
      ],
      "call": [
        "_id"
      ]
    }
  ]
}
